.contact {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color-1);
    align-items: center;
    color: var(--second-color-1);
    border-radius: 5pt;
    padding: 1em;
    cursor: pointer;

    &[data-active="true"] {
      background-color: var(--second-color-2);
    }
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    & > * {
      margin: 0;
    }
}

.handle {
    color: darkgrey;
}
