.messages {
  flex: 1 auto;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  gap: 0.5em;
  padding: 1em;
}

.input_box {
  display: flex;
  padding: 1em;
  background-color: var(--primary-color-2);
}

.current_message {
  flex: 1 auto;
  max-height: 50em;
  min-height: 2em;
  resize: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  &:focus {
    border: solid 1px white;
    border-right: none;
    outline: none;
  }
}

.current_message:focus ~ .aside_buttons {
  border: solid 1px white;
  border-left: none;
}

.aside_buttons {
  display: flex;
  background-color: var(--primary-color-1);
  border-top-right-radius: 5pt;
  border-bottom-right-radius: 5pt;
  justify-content: center;
  padding: .5em;
  align-items: center;
}

.send_btn {
  height: fit-content;
  font-size: 1.5em;
  background-color: var(--second-color-2);
  border-radius: 100%;
  padding: 0.2em;
}
