.contact {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    align-items: center;
}

.contact_info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.handle {
    color: darkgrey;
}
