:root {
  --primary-color-1: hsl(0, 0%, 15%);
  --primary-color-2: hsl(214, 62%, 35%);
  --second-color-1: hsl(0, 0%, 95%);
  --second-color-2: #3084F2;
  --accent-color: hsl(118, 98%, 65%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 1em;
  background-color: var(--primary-color-1);
  color: var(--second-color-1);
  border: none;
  cursor: pointer;
  border-radius: 5pt;

  &.active-tab {
    background-color: var(--second-color-2);
  }

}

input[type="text"], textarea {
  background-color: var(--primary-color-1);
  color: var(--second-color-1);
  border-radius: 5pt;
  border: none;
  padding: 1em;
}

